/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* role cards for player choice */

.role-card:hover{
    opacity: 1;
}

.role-card{
    opacity: 0.5;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    width: calc(100% - 20px);
}

.role-card-unavailable{
    filter: grayscale(100%); 
    opacity: 0.3;
}

.role-card-chosen{
    opacity: 1;
}

.role-card-container {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0%;
    display: flex;
}

.role-player-name{
    color:#0317fc;
    font-weight: bold;
    font-size: 30px;
}

/* Loading spinner */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Log boxes */

  .log-box {
    width: calc(100% - 4px); 
    height: calc(15% - 4px); 
    border-style: solid; 
    border-width: 2px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #bfbfbd;
    line-height: normal;
    color: #6e706f
  }


  /* player cards in hand */
  .player-hand-card {
      width: 60%;
      height: 50%;
      position: absolute;
  }

  .player-hand-card:hover {
      z-index: 9999 !important;
  }

/* log messages */
.log-message{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 3px;
    font-size: 17px;
}

.game-button{
    height: 10%
}